<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <br><br>
    <label for="age">age</label>
    <input type="text" th:field="*{age}" id="age"/><br>
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br><br>

    <input type="submit" value="Create!"/>

    <br><br>
    <a href="/admin">назад</a>
    <span style="padding-left: 10px"></span>
    <a href="/logout">выйти</a>
</form>

</body>
</html>